
/* If Tag CSS define then Use this type */
body {
  background-color: powderblue;
}
h1 {
  color: blue;
  
}
/* p {
  color: red;
  background-image: url('image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

/* Link Ma hover thay tyare */
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* a:active {
  color: yellow;
  background-color: red;
  text-decoration: underline;
} */

/* a:link, a:visited {
  background-color: #f44336;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
} */


table, th, td {
  border: 1px solid black;
  /* To Avoid double border in table */
  border-collapse: collapse;
  
  
}
th,td {
  border: 1px solid black;
  /* padding: 15px; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

th {  
  text-align: center;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

td:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}